.time-range {
  margin-bottom: 30px;
}

.page-chart {
  margin: 10px 0px 15px 8px;
}

.page-chart div {
  background-color: #eee;
  color: #777;
  padding: 3px;
  margin: 5px;
}

.page-chart div .url {
  padding-left: 5px;
}

.page-chart div .count {
  float: right;
  padding-right: 5px;
}
